<footer class="footer">
  <div class="footer-container">
    <div>
      <h3 class="text-xl font-bold mb-4">مطعم الأرجوان</h3>
      <p class="text-[#e0e5d5]">
        نقدم أفضل الأطباق المطبوخة بحب وعناية من أجود المكونات المحلية والمستوردة.
      </p>
    </div>
    <div>
      <h3 class="text-xl font-bold mb-4">روابط سريعة</h3>
      <ul class="space-y-2">
        <li><a [routerLink]="['/']" class="text-[#e0e5d5] hover:text-white">الرئيسية</a></li>
        <li><a [routerLink]="['/about']" class="text-[#e0e5d5] hover:text-white">من نحن</a></li>
        <li><a [routerLink]="['/menu']" class="text-[#e0e5d5] hover:text-white">قائمة الطعام</a></li>
        <li><a [routerLink]="['/contact-us']" class="text-[#e0e5d5] hover:text-white">تواصل معنا</a></li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-bold mb-4">معلومات الاتصال</h3>
      <ul class="space-y-2 text-[#e0e5d5]">
        <li class="flex items-start">
          <i class="fas fa-map-marker-alt mx-2 mt-1"></i>
          <span class="text-center text-[12px]">طريق عثمان بن عفان - الوادي - الرياض</span>
        </li>
        <li class="flex items-center">
          <i class="fas fa-phone-alt mx-2"></i>
          <span class="text-start" dir="ltr">+966 55 367 8040</span>
        </li>
        <li class="flex items-center">
          <i class="fas fa-envelope mx-2"></i>
          <span>{{'info@alarjwan.com'}}</span>
        </li>
      </ul>
    </div>
    <!-- Contact Info: Map + Email -->
    <div class="footer-contact">
      <h3>يمكنكم زيارتنا</h3>
      <div class="map-container">
        <iframe title="Company Location"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.9974031719726!2d46.70106052557258!3d24.795542447853993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd88c0c4a627%3A0xd77d944ae7820e1d!2z2KfZhNin2LHYrNmI2KfZhiAtIEFsYXJqd2Fu!5e0!3m2!1sar!2seg!4v1759700084009!5m2!1sar!2seg"
          width="100%" height="120" style="border:0;" allowfullscreen="" loading="lazy">
        </iframe>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p class="text-center" dir="ltr">&copy; 2025 alarjwan. All rights reserved.</p>
  </div>
</footer>