<div class="overlay" data-aos="zoom-in-up">
  <div class="header-holder">
    <nav>
      <ul class="brand-info d-flex">
        <li class="email flex-grow-1">{{ "info@alarjwan.com" }}</li>
        <li class="social-media flex-grow-1">
          <a [href]="'#'"><i class="fa-brands fa-x-twitter"></i></a>
          <a [href]="'#'"><i class="fa-brands fa-instagram"></i></a>
        </li>
        <li class="address flex-grow-1">{{ "rydah, saudi arabia" }}</li>
        <li class="phone flex-grow-1">{{ "+9012219229" }}</li>
      </ul>
      <div class="navbar d-flex">
        <a href="#" class="logo"
          ><img src="assets/images/logo.jpeg" alt="alarjwan logo"
        /></a>
        <div class="hamburger" (click)="toggleNavbar()">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <ul class="d-flex navbar-links">
          <li class="link-holder"><a [routerLink]="['/about']"> من نحن </a></li>
          <li class="link-holder">
            <a [routerLink]="['/menu']"> قائمة الطعام </a>
          </li>
          <li class="link-holder">
            <a [routerLink]="['/subscription']"> الباقات </a>
          </li>
        </ul>
      </div>
    </nav>

    <header class="header">
      <h1 data-aos="zoom-in-up">
        طعام يروي القلب. <br />
        صُنع بكل حبٍ وعناية!
      </h1>
      <h2>استمتع بكل قضمة</h2>
    </header>
  </div>
  <div class="bg">
    <img [src]="previousImage.src" alt="" [class.visible]="!fade" />
    <img [src]="image.src" alt="" [class.visible]="fade" />
  </div>
</div>
