.dish-overlay {
  transition: all 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.close-modal {
  background: #fff;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  top: -32px;
  left: -17px;
}

.alarjwan-card {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 250px;
  min-width: 270px;

  .object-cover {
    object-fit: fill;
  }

  .card-content {
    position: relative;
    z-index: 1;
  }
}

.card-modal {
  .object-cover {
    object-fit: fill;
  }
}


.pattern,
.item-img {
  position: absolute;
  top: 0;
}

.pattern {
  position: absolute;
  left: 0;
  z-index: 99;
  width: 120px;
}

.top-pattern {
  top: 0;

}

.bottom-pattern {
  top: 100% !important;
  right: 0;
  width: 120px;
  transform: rotate(180deg);

}

.item-img {
  // width: 80%;
  // height: 82%;
  z-index: 999;
  top: 12%;
  left: 10%;

  &:hover {
    // scale: 1.1;
    transition: all 300ms linear;
  }
}


.dish-overlay.show {
  display: block;
  z-index: 9999999;
}

.scetions-container {
  border-top: 1px solid #637359;
  border-bottom: 1px solid #637359;
  padding: 14px;
  margin: 0 !important;
}

// .custom-border {
//   border: 1px inset #637359;
// }

.card-wrappere-relative {
  position: relative;
  overflow: hidden;
  &:hover {
    .pattern {
      transition: transform 500ms ease-in-out;
      transform: scale(0.9);
      // scale: 0.9;
    }
  }
}

.bg-dark-white {
  background-color: #FFFFFF90 !important;
}