.dish-overlay {
  transition: all 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.close-modal {
  background: #fff;
  display: flex;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
  top: -32px;
  left: -17px;
}

.alarjwan-card {
  position: relative;
  overflow: hidden;
  width: 85%;
  height: 250px;
  min-width: 270px;
  margin: auto;

  .object-cover {
    object-fit: fill;
  }

  .card-content {
    position: relative;
    z-index: 1;
  }
}

.card-modal {
  .object-cover {
    object-fit: fill;
  }
}


.pattern,
.item-img {
  position: absolute;
  top: 0;
}

.pattern {
  position: absolute;
  left: 10px;
  top: 20px;
  z-index: 99;
  width: 100px;
  transform: scale(0.9);
}

.top-pattern {
  top: 15px;
  left: 15px;
}

.bottom-pattern {
  top: 37% !important;
  right: -5px;
  // width: 100px;
  // transform: skew(180deg, 180deg);
}

.item-img {
  // width: 80%;
  // height: 82%;
  z-index: 999;
  top: 12%;
  left: 10%;

  &:hover {
    // scale: 1.1;
    transition: all 300ms linear;
  }
}


.dish-overlay.show {
  display: block;
  z-index: 9999999;
}

.scetions-container {
  border-top: 1px solid #637359;
  border-bottom: 1px solid #637359;
  padding: 14px;
  margin: 0 !important;
}

// .custom-border {
//   border: 1px inset #637359;
// }

.card-wrappere-relative {
  position: relative;
  overflow: hidden;

  &:hover {
    .pattern {
      transition: transform 600ms linear;
      transform: scale(1);
      // scale: 1;
    }

    //     .bottom-pattern {
    //   transform: rotate(180deg);
    // }
  }
}

.bg-dark-white {
  background-color: #FFFFFF90 !important;
}

.high-index{
  z-index: 9999999999;
}

.max-level-index{
  z-index: 9999999999999999;
}


@media only screen and (max-width: 590px) {
  .alarjwan-card {
    width: 100%!important;
  }
}