.subscriptions {
  padding: 2rem;
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  // gap: 1.5rem;
  //   max-width: 1200px;
  margin: 0 auto;
  // background: linear-gradient(135deg, #f5f7fa 0%, #e4e7eb 100%);

  .subscription {
    background: #ffffff;
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 400px;
    padding: 1rem;

    .subscription-img {
      width: 47% !important;
      min-width: 270px;
      flex-grow: 1;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .subscription-data {
      width: 47%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    //   padding: 1rem;
      flex-grow: 1;

      .header {
        text-align: center;
      }
      h2 {
        color: #4a5e3f;
        font-size: 1.8rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
      }

      p {
        color: #6b7280;
        font-size: 1rem;
        margin-bottom: 1rem;
        line-height: 1.5;
      }
      h3{ 
          font-weight: 900;
      }
      ul {
        display: block;
        width: 100%;
      }
      li {
        // list-style: circle;
        // text-align: start;
        // direction: rtl;
        display: inline-block;
        width: max-content;
        padding: 21px;
      }

      .price {
        color: #2f855a;
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .subscribe-btn {
        width: 50%;
        background: #637359;
        color: #ffffff;
        padding: 0.75rem 1.5rem;
        border: none;
        border-radius: 8px;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        transition: background 0.3s ease, transform 0.2s ease;

        &:hover {
          background: #276749;
          transform: scale(1.05);
        }
      }
    }
  }

  @media (max-width: 768px) {
    padding: 1rem;
    grid-template-columns: 1fr;

    .subscription {
      min-height: 350px;

      .subscription-img {
        margin-bottom: 16px;
      }
    }
  }
}
