@font-face {
    font-family: "Effra_Rg";
    src: url('/assets/fonts/effra.ttf');
}

// @font-face {
//     font-family: "SF-Mada";
//     src: url('/assets/fonts/SF-Mada.ttf');
// }

/* global styles */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.SF-Mada {
    font-family: SF-Mada,sans-serif;
}

.Effra_Rg{
    font-family: "Effra_Rg",sans-serif!important;
}

h1, h2, h3, h4,h5,h6 {
    font-family: SF-Mada,sans-serif;
}
html {
    direction: rtl;
}
 html,body, p, a {
    font-family: Effra_Rg, sans-serif!important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-capitalize {
    text-transform: capitalize;
}

.bg-transparent {
    background: transparent;
}

.bg-white {
    background: #FFF;
}

.px-1 {
    padding: 0 0.25rem;
}

.py-1 {
    padding: 0.25rem 0;
}

.p-1 {
    padding: 0.25rem;
}

.d-flex {
    display: flex;

    .flex-grow-1 {
        flex-grow: 1;
    }
}